/* Contact Section
--------------------------------*/

#contact {
    padding: 60px 0;
    background: rgba(235, 235, 235, 0.5);
}
.image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}
.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 0px;
}
.section-header p,
.section-header h3{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.section-header h3{
    text-transform: uppercase;
    font-weight: 600;
    
}
.section-header p{
    font-size: .9rem;
}
#contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
    padding: 40px 0px;
}
.col-md-4
{
    
    padding: 0px 0px;
}
.col-md-4 p,
.col-md-4 address{
    margin-top: 10px;
}
#contact .contact-address,
#contact .contact-phone,
#contact .contact-email{

    padding: 20px 0px;
}
#contact .contact-phone {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
#contact .contact-info svg {
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-bottom: 10px;
    color: #18d26e;
}

#contact .contact-info address,
#contact .contact-info p {
    margin-bottom: 0;
    color: #000;
}

#contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
    margin: 0;
}

#contact .contact-info a {
    color: #000;
}

#contact .contact-info a:hover {
    color: #18d26e;
}

#contact .form #sendmessage {
    color: #18d26e;
    border: 1px solid #18d26e;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#contact .form input,
#contact .form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
}

#contact .form button[type="submit"] {
    background: #18d26e;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

#contact .form button[type="submit"]:hover {
    background: #13a456;
}