<div class="about">
    <div class="image">
        <img src="../../../assets/about-banner0.png" alt="">
    </div>

    <div class="about-box">
        <h3>ABOUT US</h3>
        <h4>Fashion HUb is guided by four principles: customer obsession rather than competitor focus, passion for
            invention, commitment to operational excellence, and long-term thinking. Fashion Hub strives to be Earth’s most
            customer-centric company, Earth’s best employer, and Earth’s safest place to work. Customer reviews, 1-Click
            shopping, personalized recommendations, Prime, Fulfillment by Fashion Hub, AWS, Kindle Direct Publishing, Kindle,
            Career Choice, Fire tablets, Fire TV, Fashion Hub Echo, Alexa, Just Walk Out technology, Fashion Hub Studios, and The
            Climate Pledge are some of the things pioneered by Fashion Hub.</h4>
    </div>

    <div class="row">
        <!-- CARD-1 -->
        <div class="col-sm-4">
            <div class="card">
            <div class="card-body">
                <h2>Leadership Principles</h2>
                <p>Our Leadership Principles are more than inspirational wall hangings. The 16 principles guide our
                    discussions and decisions every day.</p>
                <button>Learn more<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg></button>
            </div>
        </div>
        </div>
        <!-- CARD-2 -->
        <div class="col-sm-4">
            <div class="card">
            <div class="card-body">
                <h2>Awards and Recognition</h2>
                <p>We are honoured to be recognised for the work we do on behalf of our customers, employees, and
                    communities every day.</p>
                <button>Learn more<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg></button>
            </div>
        </div>
        </div>
        <!-- CARD-3 -->
        <div class="col-sm-4">
            <div class="card">
            <div class="card-body">
                <h2>Facts About Fashion Hub</h2>
                <p>Facts about Fashion Hub, its employees, communities, and customers.</p>
                <button>Learn more<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg></button>
            </div>
        </div>
        </div>
    </div>






</div>